---
import { Image } from "astro:assets";
import tickIcon from "../../../assets/icons/tick.svg";
import "./ItemFrame.css";

interface Props {
  type?: "text" | "image";
  message?: string;
  source: string;
  imageSrc?: ImageMetadata;
  imageAlt?: string;
  bottomLeftWidth?: number;
  bottomRightWidth?: number;
  imageWidth?: number;
  imageHeight?: number;
  paddingLeft?: number;
  paddingRight?: number;
}

const {
  type = "text",
  message = "",
  source,
  imageSrc,
  imageAlt = "",
  bottomLeftWidth = 30,
  bottomRightWidth = 30,
  imageWidth = 250,
  imageHeight = 200,
  paddingLeft = 40,
  paddingRight = 40,
}: Props = Astro.props;
---

<div class="relative pb-3">
  <div
    class="pixelated-frame pt-2 text-center w-fit mx-auto bg-black"
    style={`--bottom-left-width: ${bottomLeftWidth}px; --bottom-right-width: ${bottomRightWidth}px; padding-left: ${paddingLeft}px; padding-right: ${paddingRight}px;`}
  >
    <!-- Frame parts -->
    <div class="frame-part top-bar"></div>
    <div class="frame-part top-right-corner"></div>
    <div class="frame-part bottom-right-corner"></div>
    <div class="frame-part bottom-left-segment"></div>
    <div class="frame-part bottom-right-segment"></div>
    <div class="frame-part bottom-left-corner"></div>
    <div class="frame-part top-left-corner"></div>
    <div class="frame-part left-bar"></div>
    <div class="frame-part right-bar"></div>

    <!-- Banner content based on type -->
    {
      type === "image" && imageSrc && (
        <div class="py-1">
          <Image
            src={imageSrc}
            alt={imageAlt}
            width={imageWidth}
            height={imageHeight}
            class="mx-auto"
          />
        </div>
      )
    }

    <p class="text-white font-bold font-JetBrainsMono text-sm">{message}</p>
    <div class="flex items-center justify-center translate-y-2">
      <span class="text-white text-sm font-mono font-normal">{source}</span>
      <Image src={tickIcon} alt="Verified" width={24} height={24} class="ml-1" />
    </div>
  </div>
</div>
