---
import TabbedCodeSnippet, { type TabGroup } from "./CodeTabsReact.tsx";

interface Props {
  tabs: TabGroup[];
  defaultProvider?: string;
  defaultLanguage?: string;
  showProviderTabs?: boolean;
  class?: string;
}

const {
  tabs,
  defaultProvider,
  defaultLanguage,
  showProviderTabs = true,
  class: className,
} = Astro.props;
---

<div class={className}>
  <TabbedCodeSnippet
    tabs={tabs}
    defaultProvider={defaultProvider}
    defaultLanguage={defaultLanguage}
    showProviderTabs={showProviderTabs}
    client:load
  />
</div>

