---
import { Image } from "astro:assets";
import VeraIdLogo from "../assets/images/veraid-logo-dark.png";
import XIcon from "../assets/icons/x.svg?raw";
import GithubIcon from "../assets/icons/github.svg?raw";
import RedditIcon from "../assets/icons/reddit.svg?raw";
import BlueskyIcon from "../assets/icons/bluesky.svg?raw";
const veraidLinks = [
  { href: "/users", text: "Users" },
  { href: "/services", text: "Services" },
  { href: "/overview", text: "Tech overview" },
  { href: "/about", text: "About" },
  { href: "/spec", text: "Spec" },
];

const relaycorpLinks = [
  { href: "https://relaycorp.tech/", text: "Contact us" },
  { href: "https://github.com/relaycorp/.github/blob/master/SECURITY.md", text: "Security policy" },
];

const currentYear = new Date().getFullYear();
---

<footer
  class="py-10 sm:py-16 px-4 sm:px-6 mx-auto text-sm border-t border-neutral-800 bg-neutral-950"
>
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-[1fr_auto_auto] gap-8 sm:gap-24">
      <div class="space-y-4">
        <a href="/" class="block">
          <Image src={VeraIdLogo} alt="VeraId Logo" class="h-8 w-auto" />
        </a>
        <p class="text-sm">User- and developer-friendly authentication based on DNS.</p>
        <div
          class="flex gap-4 [&>a]:text-neutral-400 [&>a]:hover:text-white [&>a]:transition-colors [&>a>div]:h-6 [&>a>div]:w-6"
        >
          <a href="https://x.com/CheVeraId">
            <div set:html={XIcon} />
          </a>
          <a href="https://bsky.app/profile/veraid.net">
            <div set:html={BlueskyIcon} />
          </a>
          <a href="https://github.com/topics/veraid">
            <div set:html={GithubIcon} />
          </a>
          <a href="https://www.reddit.com/r/VeraId/about/">
            <div set:html={RedditIcon} />
          </a>
        </div>
      </div>

      <div class="space-y-4 [&>ul>li>a]:text-neutral-400 [&>ul>li>a]:hover:text-neutral-300">
        <h3>VERAID</h3>
        <ul class="space-y-4">
          {
            veraidLinks.map(({ href, text }) => (
              <li>
                <a href={href}>{text}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="space-y-4 [&>ul>li>a]:text-neutral-400 [&>ul>li>a]:hover:text-neutral-300">
        <h3>RELAYCORP</h3>
        <ul class="space-y-4">
          {
            relaycorpLinks.map(({ href, text }) => (
              <li>
                <a href={href}>{text}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="mt-8 text-neutral-400">
      Copyright 2022-{currentYear} by <a
        href="https://relaycorp.tech"
        class="text-green-300 hover:text-green-200">Relaycorp</a
      >.
    </div>
  </div>
</footer>
