---
import { Image } from "astro:assets";
import logoDark from "../assets/veraid-logo-dark.png";
import MenuIcon from "../assets/icons/menu.svg?raw";
import CloseIcon from "../assets/icons/close.svg?raw";

const { pathname } = Astro.url;
const navLinks = [
  { href: "/ux", text: "User experience" },
  { href: "/architecture", text: "Architecture" },
  { href: "/spec", text: "Spec" },
  { href: "/prior-art", text: "Prior art" },
];
---

<nav class="max-w-7xl mx-auto px-6 py-8 flex justify-between items-center">
  <div>
    <a href="/">
      <Image src={logoDark} alt="VeraId logo" width={100} height={100} />
    </a>
  </div>

  <!-- Mobile menu toggle button -->
  <button id="menu-button" class="text-white cursor-pointer md:hidden" aria-label="Toggle menu">
    <div class="menu-icon w-6 h-6" set:html={MenuIcon} />
    <div class="close-icon hidden w-6 h-6" set:html={CloseIcon} />
  </button>

  <!-- Desktop navigation -->
  <ul class="hidden md:flex space-x-12 text-white">
    {
      navLinks.map(({ href, text }) => (
        <li>
          <a
            href={href}
            class:list={["hover:text-green-200", { "text-green-300": pathname === href }]}
          >
            {text}
          </a>
        </li>
      ))
    }
  </ul>

  <!-- Mobile navigation -->
  <ul
    class="absolute top-20 left-0 pl-6 w-full bg-black flex-col items-center space-y-6 text-white py-6 hidden"
    id="mobile-nav-links"
  >
    {
      navLinks.map(({ href, text }) => (
        <li>
          <a
            href={href}
            class:list={["hover:text-green-200", { "text-green-300": pathname === href }]}
          >
            {text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  document.getElementById("menu-button")?.addEventListener("click", function () {
    const mobileMenu = document.getElementById("mobile-nav-links");
    const menuIcon = this?.querySelector(".menu-icon");
    const closeIcon = this?.querySelector(".close-icon");

    if (mobileMenu && menuIcon && closeIcon) {
      mobileMenu.classList.toggle("hidden");
      menuIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    }
  });
</script>
