---
import { Image } from "astro:assets";
import logoDark from "../assets/images/veraid-logo-dark.png";
import MenuIcon from "../assets/icons/menu.svg?raw";
import CloseIcon from "../assets/icons/close.svg?raw";

const { pathname } = Astro.url;
const navLinks = [
  { href: "/ux", text: "User experience" },
  { href: "/overview", text: "Tech overview" },
  { href: "/prior-art", text: "Prior art" },
];
---

<nav class="border-b border-neutral-800 px-4 sm:px-6 py-4">
  <div class="flex max-w-6xl mx-auto justify-between items-center">
    <!-- Logo -->
    <a href="/">
      <Image src={logoDark} alt="VeraId logo" class="h-8 md:h-9 w-auto" />
    </a>
    <!-- Desktop navigation links -->
    <ul class="hidden md:flex space-x-12 text-white text-sm">
      {
        navLinks.map(({ href, text }) => (
          <li>
            <a
              href={href}
              class:list={[
                "hover:text-green-200",
                { "text-green-300": pathname.replace(/\/$/, "") === href },
              ]}
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
    <!-- Mobile menu -->
    <div class="md:hidden">
      <details>
        <summary class="text-white cursor-pointer list-none [&>div]:w-6 [&>div]:h-6">
          <div class="[details[open]_&]:hidden" set:html={MenuIcon} />
          <div class="hidden [details[open]_&]:block" set:html={CloseIcon} />
        </summary>

        <ul
          class="absolute top-20 left-0 pl-6 w-full bg-black flex-col items-center space-y-6 text-white py-6 z-50"
        >
          {
            navLinks.map(({ href, text }) => (
              <li>
                <a
                  href={href}
                  class:list={[
                    "hover:text-green-200",
                    { "text-green-300": pathname.replace(/\/$/, "") === href },
                  ]}
                >
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </details>
    </div>
  </div>
</nav>
