---
import Skeleton from "./Skeleton.astro";
import { PrimaryNav } from "../components/TopNav/PrimaryNav";
import { SecondaryNav } from "../components/TopNav/SecondaryNav";

interface Props {
  title: string;
  description: string;
  service: string;
  activeSection?: string | null;
  ogImage?: string;
  ogType?: string;
}

const { title, description, service, activeSection = null, ogImage, ogType } = Astro.props;
---

<Skeleton title={title} description={description} ogImage={ogImage} ogType={ogType}>
  <PrimaryNav client:load />
  <SecondaryNav client:load activeSection={activeSection} currentService={service} />
  <main>
    <slot />
  </main>
</Skeleton>
